{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h3 class="mb-4">Login</h3>
          <div class="mb-3">
            <i class="bi bi-person-circle" style="font-size: 60px;"></i>
          </div>
          <form method="POST">
            <div class="mb-3">
              <label class="form-label"><i class="bi bi-person-fill" title="Usuário"></i></label>
              <input type="text" name="username" class="form-control" placeholder="Digite seu usuário" required>
            </div>
            <div class="mb-3">
              <label class="form-label"><i class="bi bi-lock-fill" title="Senha"></i></label>
              <input type="password" name="password" class="form-control" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}